<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cectron</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/fonts/fontawesome/css/all.css">
</head>
<body>
<header>
</header>
<section class="main">
    <section class="main-top-header"></section>
    <section class="container">
        <h1>Welcome to cectron</h1>
    </section>
</section>

<script>
    const {headerUI} = require('../modules/pages/header').default;
    new headerUI();
</script>

</body>
</html>