<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cectron</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/fonts/fontawesome/css/font-awesome.min.css">
</head>
<body>
<header>
</header>
<section class="main">
    <section class="main-top-header"></section>
    <section class="container">
        <section class="welcome-note">
                    
                <h1>Welcome to cectron</h1>
                <p>It's seems your not a member yet </p>
                <p>Please click the menu below to get started</p>

            <section class="menu">
                <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
                <label class="menu-open-button" for="menu-open">
                    <span class="hamburger hamburger-1"></span>
                    <span class="hamburger hamburger-2"></span>
                    <span class="hamburger hamburger-3"></span>
                </label>

                <a href="#" class="menu-item"> <i class="fa fa-bar-chart" aria-hidden="true"></i>
                </a>
                <a href="#" class="menu-item"> <i class="fa fa-plus"></i> </a>
                <a href="#" class="menu-item"> <i class="fa fa-heart"></i> </a>
                <a href="#" class="menu-item"> <i class="fa fa-envelope"></i> </a>
                <a href="#" class="menu-item"> <i class="fa fa-cog"></i> </a>

            </section>

        </section>
    </section>
</section>

<script>
    const {headerUI} = require('../modules/pages/header').default;
    new headerUI();
</script>

</body>
</html>