<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cectron</title>
    <link rel="stylesheet" href="./css/splash.css">
</head>
<body class="anim" id="body">
<canvas id="c"></canvas>

<div class="wrapper waiting">
    <div id="logo" title="cectron">
        <div class="symbol">
            <div>
                <div></div>
            </div>
            <div>
                <div></div>
            </div>
            <div>
                <div></div>
            </div>
            <div>
                <div></div>
            </div>
            <div>
                <div></div>
            </div>
        </div>
    </div>
</div>

<div class="triangle anim">
    <div></div>
    <div></div>
</div>
<div class="dialog">cectron</div>
<script src="./js/splash.js"></script>
</body>
</html>