*{
    margin: 0px;
    padding: 0px;
}

body{
    float: left;
    background:rgba(240,244,246,.4);
    width: 100%;
    -webkit-user-select: none;
    user-select: none;
}

header{
    width: 250px;
    float: left;
    height: 100vh;
    background: #ffffff;
}

section.main{
    width: 81.48%;
    float: right;
    height: 100vh;
}

.main-top-header{
    width: 100%;
    float: left;
    height: 50px;
    background: transparent;
}

.header-top-content{
    width: auto;
    float: right;
    margin-right: 20px;
}

.header-top-content > section{
    width: auto;
    height: auto;
    float: left;
    cursor: pointer;
    padding: 10px;
    transition: .5s linear 0s;
}

.header-top-content > section:hover{
    opacity: .4;
}